<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <h1>Horror Hangman</h1>
    <div id="container">
        <form>
            <label for="phrase">Enter phrase to encode</label>
            <input class="box" type="text" name="phrase" /><br/>
            <label for="shift">Enter number to shift</label>
            <input class="box" type="text" name="shift" /><br/>
            <input id="button" type="submit" value="Encode!" />
        </form>
    </div>
    </body>
</html>